<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="{{ @BMAPP[APP_URL] }}/js/BoondManager_App.js"></script>
    <link type="text/css" href="{{ @BMAPP[APP_URL] }}/css/BoondManager_App.css" rel="stylesheet" />
</head>
<body>
    <div id="frame_output" class="maincontent">
        <include href="{{ @content }}" />
    </div>
</body>
<script type="text/javascript">
    BM.init({maindivid:'frame_output', parenturl:'{{ @urlCallback | raw }}'});
    BM.setAutoResize(); //Demande à BoondManager de mettre à jour la hauteur de l'iframe
</script>
