<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="bm.js"></script>
    <link type="text/css" href="https://app.boondmanager.com/css/BoondManager_App.css" rel="stylesheet" />
</head>
<body>
    <div id="div_mask"></div>
    <div id="div_modalmessage"></div>
    <script type="text/javascript">
        if (navigator.appName=='Microsoft Internet Explorer')
            document.write('<iframe id="frame_mask" frameborder="0" scrolling="no" src="about:blank" style="filter:alpha(opacity=0);"></iframe>');
    </script>
    <div id="frame_output" class="maincontent">
        <include href="{{ @content }}" />
    </div>
</body>
<script type="text/javascript">
    BoondManager.init({
        mainDivId: 'frame_output',
        targetOrigin: 'http://localhost:4200',
    });
    BoondManager.setAutoResize();
</script>
