<h1>{{ @page }}</h1>

<p>Hello <span id="firstName">{{ @firstName }}</span> <span id="lastName">{{ @lastName }} !</span> <span id="email"></span></p>

<p id="paragraph2" style="display: none"> texte caché qui est maintenant visible</p>

<hr/>

<div style="padding: 5px 10px 15px">
	<a href="#" onclick="confirm();" class="button">show confirm</a>
	<a href="#" onclick="resize();" class="button">resize</a>
	<a href="#" onclick="BoondManager.alert('coucou', 'test titre');" class="button">alert with title</a>
	<a href="#" onclick="BoondManager.setSaveButtonEnabled(true); return false;" class="button">enable save</a>
	<a href="#" onclick="BoondManager.setSaveButtonEnabled(false); return false;" class="button">disable save</a>
	<a href="#" onclick="BoondManager.test(true); return false;" class="button">test</a>
	<a href="#" onclick="a=prompt('url', '/resources'); BoondManager.redirect(a); return false" class="button">go to resources</a>
	<a href="#" onclick="retrieveModel();" class="button">getModel</a>
</div>

<style>
	.button{
		background: linear-gradient(180deg, #DDD, #AAA);
		border: 1px solid #777;
		border-radius: 4px;
		display: inline-block;
		padding: 6px 9px;
		color: #333;
		text-decoration: none;
		margin: auto 6px 1px auto;
		text-shadow: white 1px 1px 1px;
	}

	.button:focus{
		box-shadow: #333333 1px  1px 2px inset;
	}
</style>

<script>

	function resize() {
		document.getElementById('paragraph2').style.display = document.getElementById('paragraph2').style.display === 'block' ? 'none' : 'block';
		BoondManager.setAutoResize();
		return false;
	}

	function retrieveModel() {
		BoondManager.getModel().then((model) => {
			console.log(model);
			document.getElementById('firstName').innerText = model.firstName;
			document.getElementById('lastName').innerText = model.lastName;
			document.getElementById('email').innerText = model.email1;

		});
		return false;
	}

	function confirm() {
		BoondManager.confirm('test confirmation').then( (answer) => {
			alert('retour : ' + (answer ? "oui" : "non"));
		});
		return false;
	}

	BoondManager.onAfterSave = function(model) {
		console.log(model);
		alert('model enregistré');

	};

	BoondManager.onBeforeSave = function() {
		return BoondManager.confirm('Etes vous sur de vouloir enregistrer ?');
	};

</script>